@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');
@import "tailwindcss";

:root {
  --font-sans: 'Noto Sans', sans-serif;

  --primary: #ff7d34;
  --primary-hover: #fc6d1a;

  --primary-dark: #262c47;
  --primary-dark-hover: #1c2034;

  --secondary: #ffc634;
  --secondary-hover: #ffc634;
}

body {
  font-family: var(--font-sans);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
  box-sizing: border-box;
}